<div class="trillo-dv-narrow">
  <h1>
    Title
  </h1>
  <p class="trillo-dv-para">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Dropdown Example 
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">
            HTML
          </a>
        </li>
        <li>
          <a href="#">
            CSS
          </a>
        </li>
        <li>
          <a href="#">
            JavaScript
          </a>
        </li>
      </ul>
    </div>
  </p>
  <p class="trillo-dv-para">
    <select class="ddl-accountName">
      <option value="Sawal">
        Sawal
      </option>
      <option value="UserOne1">
        User One
      </option>
      <option value="UserOne2">
        User Two
      </option>
    </select>
  </p>
</div>

